<div class="row">
	<div class="col-lg-6 offset-md-3">
		<div class="card">
		  <div class="card-header">
		  	<center><h4>Create Event</h4></center>
		  </div>
		  <div class="card-body">
			<%= simple_form_for(@event, url: event_path, method: :patch) do |f| %>
				<div class="row">
					<div class="col-lg-12">
						<%= f.input :name, input_html: { class: 'form-control ' } %>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-6">
						<%= f.label :planner, 'Gender' %> <br>

  						<%= f.collection_select :planner, User.all, :id, :email, include_blank: true, selected: @event.planner.id %>
					</div>
					<div class="col-lg-3 offset-sm-2">
						<%= f.label :star, 'Star' %> <br>
  						<%= f.check_box :star  %>
					</div>
				</div>
				<br>				
				<div class="row">
					<div class="col-lg-12">

					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12">
						<center>
							<%= f.button :submit,  class: "btn btn-primary" %>
						</center>
					</div>
				</div>
			<% end %>
		  </div>
		</div>
	</div>
</div>
